* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: helvetica, "Segoe UI", Arial, sans-serif;

}

body {
    background-color: #E3E6E3;

}

.container {
    margin-top: 18px;
    margin-left: 270px;
    margin-right: 270px;

}

.header {
    background-color: #009270;
    height: 48px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items: center;
    animation-name: myanimation;
    animation-duration: 4s;
    animation-iteration-count: 2;
    transition-timing-function: ease-in;

}

@keyframes myanimation {
    50% {
        background-color: rgb(27, 164, 189);
    }

    80% {
        background-color: coral;
    }

    100% {
        background-color: gold;
    }
}

.header__logo>img {
    margin-left: 15px;
    margin-top: 3px;
    height: 44px;
    width: 100px;
}

.navigations {
    margin-left: 30px;
}

.navigations ul {
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 14px;

}

.navigations ul li>a {
    padding: 15px 8px;
    color: white;
}

.login a i {
    color: white;


}

.login a:hover {
    background-color: #00775b;
}

.navigations ul li :hover {
    background-color: #00775b;
}

.plus {
    background-color: white;
    border-radius: 50px;
    color: #5b5656;
    padding: 7px;

}

.search a {
    color: white;
    padding: 0 18px;

}

/* lower header */
.low_header {
    background-color: #4a4a4a;
}

.low_header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35px;

}

.low_header ul li a {
    font-size: 13px;
    padding: 10px 25px;
    color: white;
}

.low_header ul :hover {
    background-color: #413e3e;
}

.loss {
    color: red;
}

.win {
    color: rgb(24, 50, 179);
}

.inprogress {
    color: rgb(188, 142, 57);
}

/* dropdown */
.dropbtn {
    /* background-color: #04AA6D; */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow: hidden;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: white;
}

/* matches */
.matches {
    margin: 5px 0;
    background-color: white;
}

.matches_heading {
    color: #009270;
    padding: 10px 15px;
    font-weight: bolder;
}

.boxes {
    height: 120px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 0px 10px;
    font-size: 13px;

}

.card_ul {
    border-right: 1px solid rgb(198, 194, 194);
}

.card ul li {
    padding: 2px 14px;
    margin: 9px 0;
}

/* info section */
.info {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 47% 33%;
}

.latest_news {
    background-color: white;
}

.latest_news_heading {
    color: #009270;
    padding: 10px 20px;
    font-weight: bolder;
}

.news ul li {
    margin: 10px 20px;
    margin-bottom: 24px;
    /* border-bottom: 1px solid rgb(198, 194, 194) ; */

}

.news ul li>div {
    font-size: 12px;

}

.news ul li a {
    font-size: 14px;
    color: black;

}

.news ul li a:hover {
    text-decoration: underline;
}

/* main_news */

.main_news {
    background-color: white;
    margin: 0 5px;
    padding: 10px 20px;
}

.main_news>.heading {
    color: rgb(61, 58, 58);
    font-size: 12px;
    padding: 10px 0;
}

.main_news>.pic img {
    border-radius: 5px;
}

.main_news>.pic_info {
    padding: 10px 0;
}

.main_news>.pic_info p {
    padding: 10px 0;
    color: rgb(61, 58, 58);
    font-size: 15px;
}

.news_info {
    background-color: #f5f5f5;
    border: none;
    border-left: 3px solid blue;
    font-size: 13px;
    width: 300px;
    height: 100px;
    padding: 5px 0;
}

.red {
    color: red;
    font-weight: 550;
    font-size: 15px;
}

.blue {
    color: blue;
}

/* FEATURED_VIDEOS */
.FEATURED_VIDEOS .heading {
    color: #009270;
    padding: 10px 15px;
    font-weight: bolder;
}

.FEATURED_VIDEOS {
    background-color: white;
}

.FEATURED_VIDEOS ul li {
    margin-bottom: 20px;
}

.FEATURED_VIDEOS img {
    padding-left: 15px;
    border-radius: 5px;
}

.FEATURED_VIDEOS a {
    color: black;
}

.FEATURED_VIDEOS h4 {
    padding: 10px 12px;

}

.FEATURED_VIDEOS a:hover {
    text-decoration: underline;
}

/* LATEST_PHOTOs */
.LATEST_PHOTOs {
    margin: 0 12px;
}

.LATEST_PHOTOs .heading {
    color: #009270;
    padding: 10px;
    font-weight: bolder;
}

.LATEST_PHOTOs ul li {
    margin: 5px 0;
}

.LATEST_PHOTOs a {
    color: black;
    font-size: 13px;
    font-weight: 600;
}

.LATEST_PHOTOs img {
    border-radius: 5px;
}

.date {
    font-size: 13px;
    padding: 10px 0;
}

.LATEST_PHOTOs a:hover {
    text-decoration: underline;
}

/* SPECIALs */
.SPECIALs p {
    padding: 0 10px;
    color: rgb(61, 58, 58);
    font-size: 15px;
}

/* footer */
.footer {
    width: 100%;
    height: 260px;
    background-color: #4a4a4a;
    color: white;
    display: grid;
    grid-template-columns: 30% 70%;
}

.lists {
    display: flex;
    margin-top: 10px;
    font-size: 15px;
}

.logo_footer {
    width: 110px;
    margin: 20px 340px;
}

.footer_one {
    margin: 20px 80px;
}

.footer_one ul li {
    margin: 20px 0;
}

.footer_one .footer_two .footer_three i {
    margin: 3px;
    padding: 10px;
}

.footer_two {
    margin: 20px 0;
}

.footer_two ul li {
    margin: 20px 0;
}

.footer_three {
    margin: 20px 80px;
}

.footer_three ul li {
    margin: 20px 0;
}
.lists ul li i{
    margin-right:20px ;
}

.end_line {
    background-color: #4a4a4a;
    color: rgb(181, 175, 175);
    font-size: 12px;
    height: 30px;
}

.end_line p {
    margin-left: 500px;
    margin-top: 0;
}

@media only screen and (max-width: 415px) {
    /* mobile view is totaly different */
}